# You can automatically load this file using direnv: https://direnv.net/
# or just `source .envrc`
# Prod: https://api.notus.network (leave PORT out)
export PROTOCOL=http
export HOST=localhost
export PORT=4000
export NODE_ENV=development
export CORS_ALLOWED_ORIGINS='http://localhost:3000'
export SEND_IN_BLUE_EMAIL='your@email.com
export SEND_IN_BLUE_APIV2=<YOUR_SIB_API_KEY>
export DATABASE_URL=postgres://username:password@host:port/database
# export ROLLBAR_ACCESS_TOKEN='youraccesstoken'
export NOTUS_NETWORK_URI='http://localhost:3000'
export WEB3_PROVIDER_WS_URI=wss://ropsten.infura.io/ws/v3/5e378f49a3994737940a897b2d95222b
export NOTUS_API_WS_URI=ws://localhost:4000
export JWT_SECRET=someverylongsecret
export JWT_EXPIRES_IN=3600
export ONE_TIME_KEY_EXPIRES_IN=300
