# You can automatically load this file using direnv: https://direnv.net/
# or just `source .envrc`
# Prod: https://api.notus.events (leave PORT out)
export PROTOCOL=http
export HOST=localhost
export PORT=4000
export NODE_ENV=development
export CORS_ALLOWED_ORIGINS='http://localhost:3000'
export SEND_IN_BLUE_EMAIL='your@email.com
export SEND_IN_BLUE_APIV2=<YOUR_SIB_API_KEY>
export DATABASE_URL=postgres://username:password@host:port/database
# export ROLLBAR_ACCESS_TOKEN='youraccesstoken'
export NOTUS_NETWORK_URI='http://localhost:3000'
export NOTUS_API_WS_URI=ws://localhost:4000
export JWT_SECRET=someverylongsecret
export JWT_EXPIRES_IN="30 days"
export ONE_TIME_KEY_EXPIRES_IN=1200 # 20 minutes
export BLOCK_CONFIRMATION_LEVEL=8
# Contracts and events running against mainnet will instead run against localhost
export USE_LOCALHOST_NOT_MAINNET=true
# When the worker is started, how many new blocks it should retroactively retrieve before continuing with current blocks
export MAX_REPLAY_BLOCKS=20
export EVENT_WINDOW_MAX_COUNT=5
export EVENT_WINDOW_DURATION_SECONDS=300
export MAILCHIMP_API_KEY=secretapikey
export MAILCHIMP_LIST_ID=listid
export SEND_SLACK_NOTIFICATIONS=true
